@import "../../../../styles/variables.scss";

.container{
    position: relative;
    padding: 40px;
    max-width: 750px;
    width: 100%;
    background:var(#{--components-background-default});
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    
    .items{
        z-index: 3;
    }
    .cloudImg{
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.5;
    }
}

@media(max-width:320px){
    .container{
        padding: 10px;
        border-radius: 0;
        box-shadow: none;
    }
    .cloudImg{
        display: none;
    }
}