@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
    font-size: 10px;
}

*, *:after, *:before{
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: var(#{--body-background-default});
}
