@import "../../../../../styles/variables.scss";

.tabs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    .tabsWrapper{
        display: flex;
        .tab{
            margin-right: 15px;
            &.active{
                background: $primary-color;
                color:#fff;
            }
        }
    }
    .cancel,
    .tab{
        box-shadow:2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        border-radius: 5px;
        padding: 9px 20px;
        background-color: var(#{--components-background-default});
        color:var(#{--text-color-default});
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}